<%- include(_v + '/commen/header') %>

<div class="row">
  <div class="well" style="max-width: 320px;margin: 0 auto;">
    <h3>设置数据源</h3>
    <hr>

    <div id="form" class="clearfix">
    <%- include(_v + '/component/form/form', {
        opt: {
          id: 'form', 
          fields: [{
            type: 'combobox',
            opt: {
              name: 'db',
              options: [
                'memory',
                'postgresql',
                'mysql',
                'redis',
                'mongodb',
              ],
              default: 'postgresql',
              linkages: {
                rootName: 'connector',
                help: {
                  memory: '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>'
                        + ' 纯内存数据库,数据在重启后丢失',
                },
                form: {
                  postgresql: 'form-postgresql',
                  mysql: 'form-mysql',
                  //redis: 'form-redis',
                  //mongodb: 'form-mongodb',
                },
              },
              label: '数据库',
            },
          },
          '<hr>'],
        },
      }); %>

      <div id="form-postgresql" class="clearfix">
      <%- include(_v + '/component/form/form', {
          opt: {
            id: 'form-postgresql',
            fields: [{
              name: 'host',
              label: 'host',
              vali: 'notEmpty',
              placeholder: 'localhost',
            },{
              name: 'port',
              label: 'port',
              vali: ['integer', 'numberLimit("[0", "65535]")'],
              placeholder: '5432',
            },{
              name: 'database',
              label: 'database',
              vali: 'notEmpty',
            },{
              name: 'username',
              label: 'username',
              vali: 'notEmpty',
            },{
              name: 'password',
              label: 'password',
              type: 'password'
            },
            '<span>' +
              '<a href="http://loopback.io/doc/en/lb3/PostgreSQL-connector.html#properties" target="_blank">' +
                '配置参考' +
              '</a>' +
            '</span>',
            '<hr>'],
          }
        }); %>
      </div>

      <div id="form-mysql" class="clearfix" hidden="true">
      <%- include(_v + '/component/form/form', {
          opt: {
            id: 'form-mysql',
            fields: [{
              type: 'input',
              opt: {
                name: 'host',
                vali: /[\w]+/,
                label: 'host',
              },
            },
            '<hr>'],
          }
        }); %>
      </div>

      <div class="row">
        <div class="col-sm-6">
           <button id="test-btn" class="btn btn-default btn-block">测试</button>
        </div>
        <div class="col-sm-6">
           <button id="confirm-btn" class="btn btn-default btn-block" disabled="true">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  var form = $('#form').c();
  var $testBtn = $('#test-btn');
  var $confirmBtn = $('#confirm-btn');

  var dbTest = function(confirm) {
    var validation = form.validate();
    if(validation !== true) {
      return;
    }
    console.log(validation)

    var formData = form.val();
    formData.confirm = confirm;

    $.ajax({
      type: 'POST',
      data: formData,
    }).success(function(result) {
      if(confirm) {
        // TODO 页面跳转
      } else {
        $testBtn.html('测试 <i class="fa fa-check-circle text-success" aria-hidden="true"></i>');
        $confirmBtn
          .attr('disabled', false)
          .removeClass('btn-default')
          .addClass('btn-primary');
      }
    }).error(function(err) {
      $testBtn.html('测试');
      $confirmBtn
        .attr('disabled', true)
        .removeClass('btn-primary')
        .addClass('btn-default');
      // TODO 用 modal 代替 alert
      alert('连接失败！请检查所填的参数是否正确');
    });
  };

  $('#test-btn').on('click', function() {
    dbTest();
  });

  $('#confirm-btn').on('click', function() {
    dbTest(true);
  });
});
</script>

<%- include(_v + '/commen/footer') %>
