<%- include(_v + '/commen/header') %>

<div class="row">
  <div class="well" style="max-width: 320px;margin: 0 auto;">
    <h3>设置数据源</h3>
    <hr>

    <div id="form" class="clearfix">
    <%- include(_v + '/component/form/form', {
        opt: {
          id: 'form', 
          fields: [{
            type: 'combobox',
            opt: {
              name: 'db',
              options: [
                'memory',
                'postgresql',
                'mysql',
                'redis',
                'mongodb',
              ],
              default: 'postgresql',
              linkages: {
                rootName: 'connector',
                help: {
                  memory: '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>'
                        + ' 纯内存数据库,数据在重启后丢失',
                },
                form: {
                  postgresql: 'form-postgresql',
                  mysql: 'form-mysql',
                  //redis: 'form-redis',
                  //mongodb: 'form-mongodb',
                },
              },
              label: '数据库',
            },
          },
          '<hr>'],
        },
      }); %>

      <div id="form-postgresql" class="clearfix">
      <%- include(_v + '/component/form/form', {
          opt: {
            id: 'form-postgresql',
            fields: [{
              type: 'input',
              opt: {
                name: 'host',
                vali: {
                  check: 'notEmpty',
                },
                label: 'host',
              },
            },{
              type: 'input',
              opt: {
                name: 'port',
                vali: {
                  check: ['integer', 'numberLimit("[0", "65535]")'],
                },
                label: 'port',
              },
            },
            '<hr>'],
          }
        }); %>
      </div>

      <div id="form-mysql" class="clearfix" hidden="true">
      <%- include(_v + '/component/form/form', {
          opt: {
            id: 'form-mysql',
            fields: [{
              type: 'input',
              opt: {
                name: 'host',
                vali: /[\w]+/,
                label: 'host',
              },
            },
            '<hr>'],
          }
        }); %>
      </div>

      <button id="form-submit" class="btn btn-default btn-block">提交</button>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('#form-submit').on('click', function() {
    var form = $('#form').c().val();

    console.log(JSON.stringify(form, null, 2))
    $.ajax({
      type: 'POST',
      data: form,
    }).success(function(msg) {
      console.log(msg);
    }).error(function(err) {
      console.log(err);
    });
  });
});
</script>

<%- include(_v + '/commen/footer') %>
