<%
  // 组件名到对应 js 文件的映射
  var ics = {
    input: 'form/input-text',
    combobox: 'form/input-combobox',
  };
%>

<%# DOM -%>
<% opt.fields.map(function(field) { %>
  <% if(_.isObject(field)) { %>
    <div class="form-group">
      <% if(field.opt && field.opt.label) { %>
        <label><%- field.opt.label %></label>
      <% } %>
      <%- inc(ics[field.type], 'ele', {opt : field.opt}); %>
    </div>
  <% } else { //直接输出 HTML %>
    <%- field %>
  <% } %>
<% }); %>

<%
  // 过滤直接输出 HTML 的项
  opt.fields = opt.fields.filter(field=>{
    return _.isObject(field);
  });
%>

<%# JS -%>
<%- include_js('/component/form/jq-form.js'); %>
<script type="text/javascript">
$(function() {
  <% RegExp.prototype.toJSON = RegExp.prototype.toString; %>
  <%# 参考: http://javascript.ruanyifeng.com/stdlib/json.html#tojson -%>
  var opt = <%- JSON.stringify(opt) %>;
  $('#' + opt.id).form(opt);
});
</script>
