<%
  // input components
  var ics = {
    input: 'form/input-text',
    combobox: 'form/input-combobox',
  };
%>

<% fields = fields.filter(function(field) { %>
  <% if(typeof(field) === 'object') { %>
    <div class="form-group">
      <% if(field.opt && field.opt.label) { %>
        <label><%- field.opt.label %></label>
      <% } %>
      <%- inc(ics[field.type], 'ele', {opt : field.opt}); %>
    </div>
    <% return true;
     } else { %>
      <%- field %>
    <% return false;
     } %>
<% }); %>

<% if(locals.submitBtn) { %>
  <button name="submit" class="btn btn-default btn-block <% if(submitBtn.position === 'right'){ %>pull-right<% } %>">
    <%- submitBtn.text %>
  </button>
<% } %>

<script type="text/javascript">
$(function() {
  var $form = $('#<%- id %>');
  var $fields = {};

  // 初始化组件
  var $field = null;
  <% fields.forEach(function(field) { %>
    $field = $form.find('[name=<%- field.opt.name %>]');
    $fields['<%- field.opt.name %>'] = $field;
    <%- inc(ics[field.type], 'init', {opt : field.opt}); %>
  <% }); %>

  $form.data('val', function() {
    var form = {};

    <% fields.forEach(function(field) { %>
      $field = $fields['<%- field.opt.name %>'];
      <%- inc(ics[field.type], 'val', {opt : field.opt}); %>
    <% }); %>

    return form;
  });
});
</script>
