<%
  // 组件名到对应 js 文件的映射
  var ics = {
    input: 'form/input-text',
    textarea: 'form/textarea',
    file: 'form/input-file',
    combobox: 'form/combobox',
    richEditor: 'form/rich-editor',
  };

  opt.fields = opt.fields.map(field=>{
    if(_.isObject(field)) {
      field = field.opt ? field : { opt: field };
      field.type = field.type || 'input';
      field.vali = _.isObject(field.vali) && !_.isFunction(field.vali) ? field.vali : {check: field.vali};
      return field;
    } else {
      return field;
    };
  });
%>

<%# DOM -%>
<% opt.fields.map(function(field) { %>
  <% if(_.isObject(field)) { %>
    <div class="form-group" <%- field.opt && field.opt.hidden ? 'hidden' : ''; %>>
      <% if(field.opt && field.opt.label) { %>
        <label><%- field.opt.label %></label>
      <% } %>
      <%- inc(ics[field.type], 'ele', {opt : field.opt}); %>
    </div>
  <% } else { //直接输出 HTML %>
    <%- field %>
  <% } %>
<% }); %>

<%
  // 过滤掉直接输出 HTML 的项
  opt.fields = opt.fields.filter(field=>{
    return _.isObject(field);
  });
%>

<%# JS -%>
<%- include_js('/component/form/jq-form.js'); %>
<%- include_js('/component/form/jq-form-validator.js'); %>
<script type="text/javascript">
$(function() {
  <% RegExp.prototype.toJSON = RegExp.prototype.toString; %>
  <% Function.prototype.toJSON = Function.prototype.toString; %>
  <%# 参考: http://javascript.ruanyifeng.com/stdlib/json.html#tojson -%>
  var opt = <%- JSON.stringify(opt) %>;
  $('#' + opt.id).form(opt);
});
</script>
