<%
  // input components
  var ics = {
    input: 'form/input-text',
    combobox: 'form/input-combobox',
  };
%>

<%# DOM -%>
<% opt.fields.map(function(field) { %>
  <% if(_.isObject(field)) { %>
    <div class="form-group">
      <% if(field.opt && field.opt.label) { %>
        <label><%- field.opt.label %></label>
      <% } %>
      <%- inc(ics[field.type], 'ele', {opt : field.opt}); %>
    </div>
  <% } else { %>
    <%- field %>
  <% } %>
<% }); %>

<%
  opt.fields = opt.fields.filter(field=>{
    return _.isObject(field);
  });
%>

<% if(locals.submitBtn) { %>
  <button name="submit" class="btn btn-default btn-block <% if(submitBtn.position === 'right'){ %>pull-right<% } %>">
    <%- submitBtn.text %>
  </button>
<% } %>


<%- include_js('/component/form/jq-form.js'); %>
<script type="text/javascript">
$(function() {
  <% RegExp.prototype.toJSON = RegExp.prototype.toString; %>
  var opt = <%- JSON.stringify(opt); %>;
  $('#' + opt.id).form(opt);
});
</script>
