
<%#
  opt: 组件 dataObject
%>
<%# DOM -%>
<select name="<%- opt.name %>" class="selectpicker">
  <% opt.options.forEach(function(option, index) { %>
    <option
      <% if((!opt.default && index === 0) || option === opt.default) { %>
        selected="selected"
      <% } %>
    >
      <%- option %>
    </option>
  <% }); %>
</select>
<% if(opt.linkages && opt.linkages.help) { %>
  <p class="help-block"></p>
<% } %>

<%# 参考：http://silviomoreto.github.io/bootstrap-select/ -%>
<%- include_css('//cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css'); %>
<%- include_js('//cdn.bootcss.com/bootstrap-select/1.12.1/js/bootstrap-select.min.js'); %>
<%- include_js('/component/form/jq-form-combobox.js'); %>