<%# 参考：http://silviomoreto.github.io/bootstrap-select/ -%>
<%- include_css('//cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css'); %>
<%- include_js('//cdn.bootcss.com/bootstrap-select/1.12.1/js/bootstrap-select.min.js'); %>
<%#
  scope: 组件的片段 id
  opt: 组件 dataObject
%>
<%# html template -%>
<% if         (scope === 'ele') { %>

  <%#
    DOM
  -%>
  <select name="<%- opt.name %>" class="selectpicker">
    <% opt.options.forEach(function(option) { %>
      <option><%- option %></option>
    <% }); %>
  </select>


<% } else if  (scope === 'init') { -%><% if(0){ %><script><% } -%>


  <%#
    绑定校验事件
    $field: $(ele)
  -%>
  $field.selectpicker();


<% } else if  (scope === 'val') { %>


  <%# 
    取值
    $field: $(ele)
    form: 写入对象
  -%>
  form['<%- opt.name %>'] = $field.val();


<% } %><% if(0){ %></script><% } -%>
