<%
(function() {
  var css = {};
  include_css = function(path) {
    if(!css[path]) {
      css[path] = true;
      return '<link rel="stylesheet" href="' + path + '"/>';
    }
  }

  var js = {};
  include_js = function(path) {
    if(!js[path]) {
      js[path] = true;
      return '<script src="' + path + '"></script>';
    }
  }
})();
%>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%- locals.title || 'Test' %></title>

  <%# 常见库的 CDN 引用 -%>
  <%# jquery -%>
  <%- include_js('//cdn.bootcss.com/jquery/2.1.4/jquery.min.js'); %>
  <%# bootstrap -%>
  <%- include_css('//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css'); %>
  <%- include_js('//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js'); %>
  <%# font-awsome -%>
  <%- include_css('//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css'); %>
</head>

<body>
